.receta__boton{
    background: #da2b1f;
    border: none;
    /*bordeas redondeado*/
    border-radius: 5px;
    color: #fdfdfdfd;
    padding: 1rem;
    transition: all .1s ease-in-out;
}
/*vamos hacer que cuando se pase el curson por el boton
cambie a una manito*/
.receta__boton:hover{
    cursor: pointer;
    background: #9f1010;


}
